{
  "presets": ["@babel/preset-env", [
    "@babel/preset-react",
    {
      "runtime": "automatic",
      "development": true,
      "importSource": "@emotion/react"
    }
  ]],
  "plugins": [
    [
      "@emotion",
      {
        "sourceMap": false,
        "autoLabel": "never",
        "labelFormat": "[filename]--[local]"
      }
    ]
  ]
}
